{
    "modules": [
        {
            "Samsung Core Prime": [
                "samsung_core_prime_document_viewer_fuzzer",
                "samsung_core_prime_media_scanner_fuzzer"
            ]
        },

        {
            "Kindle Fire" : [
                "kindle_fire_gallery_viewer_fuzzer"
            ]

        },

        {
            "ASUS ZenFone 2E" : [
                "asus_zenfone_2e_gallery_fuzzer",
                "asus_zenfone_2e_video_fuzzer",
                "asus_zenfone_2e_document_fuzzer"
            ]
        },

        {   "LG GPad7" : [
                "lg_gpad_7_polaris_office_fuzzer",
                "lg_gpad_7_media_scanner_fuzzer",
                "lg_gpad_7_gallery_fuzzer"
            ]
        }
    ]
}